form {
    border: none;
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
  }
  


label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 15px; 
}

fieldset {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 15px; 
}


button {
    background-color: #007BFF; 
    color: white;
    padding: 10px 15px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

