body {
    font-weight: bold;
  }
  
  form {
    border: none;
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
  }
  